<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.homework.pojo"/>
    </typeAliases>

    <environments default="developer">
        <environment id="developer">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/J2EE_Work?autoReconnect=true&amp;serverTimezone=UTC&amp;useUnicode=true&amp;characterEncoding=utf8"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <!--mapper映射-->
    <mappers>
        <mapper resource="com/homework/mapper/TeacherMapper.xml"/>
        <mapper resource="com/homework/mapper/HomeworkMapper.xml"/>
        <mapper resource="com/homework/mapper/StudentMapper.xml"/>
        <mapper resource="com/homework/mapper/AdminMapper.xml"/>
    </mappers>
</configuration>
