<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homework.mapper.TeacherMapper">
    <!--    布置作业 -->
    <insert id="assignHomework">
        insert into homework value (#{homework.homeworkID}, #{homework.description}, #{homework.courseID});
        insert into s_homework
        values ((SELECT student_id
                 from s_course
                 where course_id = #{homework.courseID}), #{homework.homeworkID}, 0, null)
    </insert>
    <!--    查看自己名下作业-->
    <select id="myHomework" parameterType="Integer" resultSets="homework">
        select *
        from homework
        where course_id =
              (select t_course.course_id from t_course where teacher_id = #{teacherID})
    </select>
    <!--    修改密码-->
    <update id="modifyPassword">
        update teacher
        set teacher_password=#{newPassword}
        where teacher_id = #{teacherID}
    </update>
    <!--    查看作业情况-->
    <select id="checkHomework" parameterType="homework">
        select *
        from s_homework
        where homework_id = #{homeworkID}
    </select>
</mapper>
